## Preparing Main Result Table

Download the spreadsheet as is as excel file, put it inside ```data/```<br>
Run the below cells

In [1]:
import pandas as pd

path = 'data/'

In [2]:
sheet_dict = {'boom_nlu':'Boomer NLU',
              'boom_nlg':'Boomer NLG',
              'ft_nlu':'FT NLU Result',
              'ft_nlg':'FT NLG Result',
              'cls_nlg':'Classic NLG Result',
              'zs_nlu':'ZS NLU Result',
              'zs_nlg':'ZS NLG Result',}

In [3]:
sheet_name = sheet_dict['boom_nlu']
metric = 'macro-F1'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)

df_grouped = df.groupby(['Dataset', 'Model', 'Task'])[metric].mean().reset_index()

df_nusa_alinea = df_grouped[df_grouped['Dataset'] == 'nusa_alinea'].drop('Dataset', axis=1)
df_nusa_kalimat = df_grouped[df_grouped['Dataset'] == 'nusa_kalimat'].drop('Dataset', axis=1)

pivot_df_nusa_alinea = df_nusa_alinea.pivot(index='Model', columns='Task', values=metric)
pivot_df_nusa_alinea = pivot_df_nusa_alinea.rename_axis(None)
pivot_df_nusa_alinea.columns.name = 'Model'

pivot_df_nusa_kalimat = df_nusa_kalimat.pivot(index='Model', columns='Task', values=metric)
pivot_df_nusa_kalimat = pivot_df_nusa_kalimat.rename_axis(None)
pivot_df_nusa_kalimat.columns.name = 'Model'

pd.concat([pivot_df_nusa_alinea,pivot_df_nusa_kalimat],axis=1,keys=['nusa_alinea','nusa_kalimat']).sort_index(axis=1)

                    nusa_alinea                               nusa_kalimat  \
Model                    author      emot paragraph     topic         emot
Logistic Regression    0.964344  0.782311  0.452130  0.876690     0.561770
Naive Bayes            0.937946  0.755076  0.377260  0.850590     0.527047
SVM                    0.960738  0.763579  0.454416  0.858606     0.550790


Model                   senti
Logistic Regression  0.749583
Naive Bayes          0.748863
SVM                  0.760371

In [4]:
sheet_name = sheet_dict['boom_nlg']
metric = 'bleu'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_nusa_kalimat.head()

   model  SacreBLEU  ChrF++  ROUGEL
0  PBSMT  18.391702     NaN     NaN

In [5]:
sheet_name = sheet_dict['ft_nlu']
metric = 'macro_f1'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)

df_grouped = df.groupby(['dataset', 'model', 'task'])[metric].mean().reset_index()

df_nusa_alinea = df_grouped[df_grouped['dataset'] == 'nusa_alinea'].drop('dataset', axis=1)
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)

pivot_df_nusa_alinea = df_nusa_alinea.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_alinea = pivot_df_nusa_alinea.rename_axis(None)
pivot_df_nusa_alinea.columns.name = 'model'

pivot_df_nusa_kalimat = df_nusa_kalimat.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_kalimat = pivot_df_nusa_kalimat.rename_axis(None)
pivot_df_nusa_kalimat.columns.name = 'model'

pd.concat([pivot_df_nusa_alinea,pivot_df_nusa_kalimat],axis=1,keys=['nusa_alinea','nusa_kalimat']).sort_index(axis=1)

                                nusa_alinea                                \
model                                author      emot paragraph     topic
bert-base-multilingual-uncased     0.946174  0.631508  0.500056  0.738157
indobenchmark-indobert-base-p1     0.939510  0.671190  0.479226  0.858678
indobenchmark-indobert-large-p1    0.949796  0.626457  0.317544  0.854076
indolem-indobert-base-uncased      0.944608  0.669356  0.519337  0.848660
xlm-roberta-base                   0.948848  0.591450  0.491667  0.716806
xlm-roberta-large                  0.963207  0.674246  0.515706  0.830519

                                nusa_kalimat
model                                   emot     senti
bert-base-multilingual-uncased      0.441313  0.687160
indobenchmark-indobert-base-p1      0.544973  0.752390
indobenchmark-indobert-large-p1     0.577965  0.773980
indolem-indobert-base-uncased       0.525903  0.690785
xlm-roberta-base                    0.470202  0.686198
xlm-roberta-large                   0.548372  0.790622

In [6]:
sheet_name = sheet_dict['ft_nlg']

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_nusa_kalimat.head()

            model       bleu       chrf     rougel
0  baseline-mbart  23.399874  40.322922  32.544679
1    baseline-mt5  26.158898  46.836028  51.333909
2       indo-bart  30.877590  51.093029  45.448807
3       indo-gpt2  27.359663  49.247835  52.008277

In [7]:
sheet_name = sheet_dict['cls_nlg']

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',
                      sheet_name=sheet_name)
df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_nusa_kalimat.head()

               model  SacreBLEU     ChrF++
0               copy  23.489091  41.903636
1              pbsmt        NaN        NaN
2  word-substitution  23.802727  42.678182

In [8]:
sheet_name = sheet_dict['zs_nlu']
metric = 'macro_f1'

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',header=[0,1],
                      sheet_name=sheet_name)

df_performance = df['mean'][metric]
df=df[['dataset', 'task', 'model', 'lang']]
df.columns = df.columns.droplevel(1)
df = df.merge(df_performance, left_index=True, right_index=True)

df_grouped = df.groupby(['dataset', 'model', 'task'])[metric].mean().reset_index()

df_nusa_alinea = df_grouped[df_grouped['dataset'] == 'nusa_alinea'].drop('dataset', axis=1)
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)

pivot_df_nusa_alinea = df_nusa_alinea.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_alinea = pivot_df_nusa_alinea.rename_axis(None)
pivot_df_nusa_alinea.columns.name = 'model'

pivot_df_nusa_kalimat = df_nusa_kalimat.pivot(index='model', columns='task', values=metric)
pivot_df_nusa_kalimat = pivot_df_nusa_kalimat.rename_axis(None)
pivot_df_nusa_kalimat.columns.name = 'model'

pd.concat([pivot_df_nusa_alinea,pivot_df_nusa_kalimat],axis=1,keys=['nusa_alinea','nusa_kalimat']).sort_index(axis=1)

            nusa_alinea                     nusa_kalimat
model              emot paragraph     topic         emot     senti
bloomz-1b1     0.117188  0.127574  0.052770     0.136376  0.606428
bloomz-1b7     0.085580  0.099193  0.127286     0.117709  0.650982
bloomz-560m    0.065747  0.116031  0.049759     0.142726  0.462248
mt0-base       0.137566  0.076966  0.353547     0.235553  0.277031
mt0-large      0.121845  0.074962  0.310020     0.219072  0.352473
mt0-small      0.093527  0.086085  0.320409     0.153334  0.319222

In [9]:
sheet_name = sheet_dict['zs_nlg']

df = pd.read_excel(path+'[NusaMenulis] Experiment Log.xlsx',header=[0,1],
                      sheet_name=sheet_name)
df_performance = df['mean']
df=df[['dataset', 'task', 'model', 'src_lang', 'tgt_lang']]
df.columns = df.columns.droplevel(1)
df = df.merge(df_performance, left_index=True, right_index=True)

df_grouped = df.groupby(['dataset', 'model']).mean().reset_index()
df_nusa_kalimat = df_grouped[df_grouped['dataset'] == 'nusa_kalimat'].drop('dataset', axis=1)
df_nusa_kalimat.head()

         model  SacreBLEU     ChrF++     ROUGEL
0   bloomz-1b1   3.111779  18.341895   9.494270
1   bloomz-1b7   5.811078  22.402549  12.453672
2  bloomz-560m   4.399344  20.269917  11.117119
3     mt0-base   3.231223  24.608013  10.118803
4    mt0-large   2.625931  23.138477   9.113221